body {
    background-color: #010B1B
}

#container {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

#content {
    background-color: #0B1224;
    padding: 35px;
    border-radius: 30px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

#divider {
    flex: 0.1;

}

@media only screen and (max-width: 700px) {
    #container {
        width: 90%;
    }

    #content {
        flex-direction: column-reverse;
    }

    #divider {
        margin-top: 40px;
    }
}


#header-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Onest', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
}

#header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-buttons a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;

}

#title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Onest', sans-serif;
}