.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #FFFFFF;
    font-family: "Geist mono", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

p,
li {
    color: rgb(184, 192, 207);
}

h1 {
    font-family: 'Onest', sans-serif;
    margin-top: 50px;
}

h2 {
    font-family: 'Onest', sans-serif;
    margin-top: 30px;
    font-size: 1.6em;
}

a {
    color: rgb(7, 171, 200);
}

pre {
    padding: 1.5em;
    border-radius: 8px;
    background-color: #1b2f3e;
}

code {
    font-size: 0.9em;
    color: #69d8d6;
    white-space: pre-wrap;
    /* preserves whitespace and wraps lines */
}

blockquote {
    border-left: 4px solid #3e6e7b;
    padding-left: 1em;
    margin-left: 0.5em;
    color: rgb(184, 192, 207);
}